.grid-container {
	display: grid;
    grid-template-columns: auto auto auto 20%;
    grid-gap: 10px;

}

.grid-container > div{
    border: 1px solid white;
    font-size: 20px;
    text-align: center;
    background-color:white;
}
h3{
	font-size: 18px;
	text-decoration: underline;
}

ul{
	text-align: left;
}

body{
	background-color:#591202;
}

#header{
	grid-column : 1 / span 4 ;
	background-color:#BF1304;
	color : white;
	margin: 0;
    padding: 0;
    background-image: url('pic/pizza-dip-9.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background-image {
    text-align: center;
    color: white; 
    padding: 50px;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#Ingredients{
	grid-column: 1 / span 3;
	background-color:#D9A87E;
	
}
#ingredientsimg{
	grid-column: 4 / span 1;
	
}
#ingredientsimg img{
	width: 100%;
    height: auto;
    object-fit: cover; 
    display: block;
    margin: 0 auto;
}

#Instructions{
	grid-column: 1 / span 4;
	background-color:#F2A03D;

}
#Instructions img{
	width: 20%;

}

#footer{
	grid-column : 1 / span 4 ;
	background-color:#BF1304;
}

@media only screen and (max-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
		  
	}

	#header{
		grid-column : 1 / span 3 ;
		background-color:#BF1304;
		color : white;
		margin: 0;
		padding: 0;
		background-image: url('pic/pizza-dip-9.jpeg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.background-image {
		text-align: center;
		color: white; 
		padding: 50px;
		height: 100vh; 
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#Ingredients{
		grid-column: 1 / span 1;
		background-color:#D9A87E;
		
	}
	#ingredientsimg{
		grid-column: 2 / span 2;
		
	}
	#ingredientsimg img{
		width: 100%;
		height: auto;
		object-fit: cover; 
		display: block;
		margin: 0 auto;
	}
	
	#Instructions{
		grid-column: 1 / span 3;
		background-color:#F2A03D;
	
	}
	#Instructions img{
		width: 10%;
	
	}
	
	#footer{
		grid-column : 1 / span  ;
		background-color:#BF1304;
	}
}

@media only screen and (max-width: 480px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 10px;
	
	}
	#header{
		grid-column : 1 / span 1 ;
		background-color:#BF1304;
		color : white;
		margin: 0;
		padding: 0;
		background-image: url('pic/pizza-dip-9.jpeg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.background-image {
		text-align: center;
		color: white; 
		padding: 50px;
		height: 100vh; 
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#Ingredients{
		grid-column: 1 / span 1;
		background-color:#D9A87E;
		
	}
	#ingredientsimg{
		grid-column: 1 / span 1;
		
	}
	#ingredientsimg img{
		width: 100%;
		height: auto;
		object-fit: cover; 
		display: block;
		margin: 0 auto;
	}
	
	#Instructions{
		grid-column: 1 / span 1;
		background-color:#F2A03D;
	
	}
	#Instructions img{
		width: 30%;
	
	}
	
	#footer{
		grid-column : 1 / span 1;
		background-color:#BF1304;
	}
}